<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Dobby - Swimming & Scuba Diving HTML Template" >
        <meta name="description" content="Dobby - Swimming & Scuba Diving HTML Template">
        <meta name="author" content="Barat Hadian">

<link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css">

<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

<link rel="stylesheet" href="assets/css/magnific-popup.css">

<link rel="stylesheet" href="assets/css/animate.min.css">

<link rel="stylesheet" href="assets/fonts/flaticon.css">

<link rel="stylesheet" href="assets/css/fontawesome.css">

<link rel="stylesheet" href="assets/css/nice-select.min.css">

<link rel="stylesheet" href="assets/css/meanmenu.css">

<link rel="stylesheet" href="assets/css/style.css">

<link rel="stylesheet" href="assets/css/responsive.css">

<link rel="stylesheet" href="assets/css/rtl.css">
        
        <!-- Title -->
        <title>Dobby - قالب HTML دوبی , پوسته سایت آموزش شنا و غواصی</title>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

    <body>
        <!-- Start Preloader -->
        <div class="preloader">
            <div class="preloader-wave"></div>
        </div>
        <!-- End Preloader -->

        <!-- Start 404 Error -->
		<div class="error-area">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="error-content">
						<h1>4<span>0</span>4</h1>
						<h3>متاسفیم! صفحه یافت نشد</h3>
						<p>ممکن است صفحه مورد نظر حذف شده باشد یا نام آن تغییر کرده یا موقتا در دسترس نباشد.</p>
						<a href="index.html" class="default-btn1 page-btn">
							بازگشت به صفحه اصلی
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- End 404 Error -->

<script src="assets/js/jquery-3.5.1.slim.min.js"></script>

<script src="assets/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/owl.carousel.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>

<script src="assets/js/meanmenu.js"></script>

<script src="assets/js/jquery.nice-select.min.js"></script>

<script src="assets/js/wow.min.js"></script>

<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<script src="assets/js/form-validator.min.js"></script>

<script src="assets/js/contact-form-script.js"></script>

<script src="assets/js/custom.js"></script>
        
    </body>
</html>